# IDE
.vscode/
*.code-workspace

# Python
env/
**/__pycache__/
build/
**/*.pyc
dist

# CARLA
cache/

# Logging
log.txt

# Egg
test_case_generation.egg-info

venv/

# Temporary files
carla_simulation/temp
doc/jupyter/.ipynb_checkpoints/*

/results

# Testing
doc/jupyter/opensbt-core
doc/jupyter/tmp
doc/jupyter/venv
doc/jupyter/.ipynb_checkpoints

#build
*/*egg-info
*/dist/*
opensbt.egg-info/dependency_links.txt
opensbt.egg-info/PKG-INFO
opensbt.egg-info/requires.txt
opensbt.egg-info/SOURCES.txt
opensbt.egg-info/top_level.txt
